@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left,#EB3349,#F45C43);

    --background: -8 53.3% 4.48%;
    --foreground: -8 8.2% 97.8%;

    --muted: -8 41% 16.8%;
    --muted-foreground: -8 8.2% 55.6%;

    --popover: -8 48.6% 7.280000000000001%;
    --popover-foreground: -8 8.2% 97.8%;

    --card: -8 48.6% 7.280000000000001%;
    --card-foreground: -8 8.2% 97.8%;

    --border: -8 41% 16.8%;
    --input: -8 41% 16.8%;

    --primary: -8 82% 56%;
    --primary-foreground: -8 8.2% 5.6000000000000005%;

    --secondary: -8 41% 16.8%;
    --secondary-foreground: -8 8.2% 97.8%;

    --accent: -8 41% 16.8%;
    --accent-foreground: -8 8.2% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -8 8.2% 97.8%;

    --ring: -8 82% 56%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}